    .barra {
        background-color: black;
        height: 300px;
    }
    
    .cursor5{
        cursor: pointer;
        color:white;
        padding: 35px;
        color: #fff;
        font-weight: bold !important;
        text-decoration: none;
    }


    a:hover {
        color: #000;   
    }