    #barra {
        background-color: black;
        height: 300px;
    }
    
    .text-decorator-none {
        text-decoration: none;
    }
    
    .cursor {
        cursor: pointer;
        color: white;
    }