.botao {
    text-decoration: none;
    font-weight: bold !important;
    color: #901651 !important;
}

.back {
    background-color: white;
}

.body3 {
    background-image: url(../../assets/img/image23.png);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}