            .imagemCadastro {
                background-image: url(../../assets/img/CADASTRAR2.png);
                background-repeat: no-repeat;
                width: 100vh;
                min-height: 100vh;
                background-size: cover;
                background-position: center;
            }
            
            .textosCadastro {
                color: #3E80A6 !important;
                font-weight: bold !important;
                font-family: Arial, Helvetica, sans-serif!important;
            }
            
            .textosblack {
                color: #000000 !important;
            }
            
            .botaoCancelar {
                margin-right: 20px !important;
            }
            
            .botaoCadastrar {
                background-color: #3E80A6!important;
                color: white !important;
            }
            
            .botaoCadastrar:hover {
                background-color: #312046 !important;
            }
            
            .form {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-block-start: 60px;
                margin-block-end: 60px;
                background-color: white;
                border-radius: 70px;
            }
            
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            /*.box {
                background-image: url(https://cdn.discordapp.com/attachments/941330341271048263/961996772421566524/CADATRAR_2.png);
            }
            
            .navbar {
                image-rendering: url(https://cdn.discordapp.com/attachments/695836229073109053/962010892516606073/Compass.png);
            }*/
            
            .mge {
                margin-block-end: 30px;
            }
            
            .cortitulo {
                text-decoration: white;
            }
            
            .fundotext {
                background-color: #dee5e9;
            }
            
            h1 {
                color: #3E80A6;
                /*font-size: 50px;*/
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            
            .background {
                background-image: url(../../assets/img/CADASTRAR.png);
            }